.refill-marker-icon {
  filter: hue-rotate(200deg) saturate(1.5);
}

.leaflet-popup-content-wrapper {
  border-radius: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.leaflet-popup-content {
  margin: 0;
  min-width: 200px;
} 